@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  padding:  0;
  margin: 0;
}

:root {
  --primary-clr : #1aac83,
  --error-clr : #e7195a
}


body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f1f1f1;
}




header {
  background-color: #fff;
}





header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-right {
  display: flex;
  align-items: center;
 gap: 1rem;

}


header a {
  color: #333;
  text-decoration: none;
}


.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}


.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 3rem;
}

.workout-details {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
  width: 100%;
  position: relative;
 
}

.workout-details h4{
  color:rgb(0, 89, 255);
  padding : 10px 0px
}

.add-workout-form {
  width: 250px;
  padding: 1rem;
  height: fit-content;
  position: relative;
  

}

.add-workout-form h3{
 margin: 1rem 0rem;
}

 input{
  padding: 10px 5px;

  font-size: 1.1rem;
  margin-bottom: 10px;
}

 button {
  padding: 0.5rem;
  background-color: rgb(94, 137, 201);
  cursor: pointer;
  font-size: 1.2rem;
  color: white;
  
}


.deleteBtn {
  background-color: #473e3e79;
  color: #fff;
  padding: 2px;
  border-radius: 5px;
  position: absolute;
  right: 15px;
  top: 20px;
  cursor: pointer;

}

.error {

 border: 1px solid gray;
 padding: 5px;
 margin: 5px;

}


.lading-btn {
  background-color: gray;
}